body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header, .header-2 {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

.container-1 {
    color: white;
    display: flex;
    flex-direction: column;
}

button {
    background: #3882f6;
    color: white;
    border-radius: 25px;
    border-color: #3882f6;
    padding: 16px;
    width: 8px;
    height: auto;
}