body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}